@import url("https://use.typekit.net/lbm4mpp.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "alibaba-sans", sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

@layer base {
  body {
    @apply antialiased bg-colorBg text-onBackground;
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    scrollbar-width: none;
    display: none;
  }
  .drop-shadow-toast {
    filter: drop-shadow(2px 3px 10px rgba(24, 23, 23, 0.32));
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
